img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

flex-col{
  display: flex;
  flex-direction: column;
}

flex-row{
  display: flex;
  flex-direction: row;
}

i{
  width: 20px;
  height: 20px;
}

/*header*/
.header{
 display:flex;
 position: fixed;
 align-items: center;
 justify-content: space-between;
 align-content: space-between;
 height: 50px;

}

.header-title{
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  border: 5px solid black;
  padding: 20px;
  background-color: #59A7D1 ;
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  border-style: ridge;
	cursor: pointer;
}

.header-users-count{
  padding: 15px 30px;
}

.header-messages-count{
  padding: 15px 30px;
}

.message-list{
  padding-top: 60px;
  display:flex;
  flex-direction: column;
  
}